@font-face {
    font-family: "KyivTypeSans-Heavy";
    src: url("../../assets/fonts/KyivTypeSans-Heavy2.otf");
}

@font-face {
    font-family: "KyivTypeSans-Regular3";
    src: url("../../assets/fonts/KyivTypeSans-Regular3.otf");
}

@font-face {
    font-family: "QanelasRegular";
    src: url("../../assets/fonts/QanelasRegular.otf");
}