$font-main: QanelasRegular;
$font-accent: KyivTypeSans-Regular3;
$font-titles: KyivTypeSans-Heavy;


$color-accent: #5DACCE;
$color-dark: #3A3A3A;
$color-light: #FBFAF8;
$color-disable: #E7DECD;
$color-active: #337357;