<div class="full-content relative">
    <!-- <img class="absolute sacura-bg" src="../../../assets/images/uzhorod/sacura.png" alt=""> -->
    <div class="main">
        <div class="map-link">
            <a [routerLink]="[ '' ]">карта</a>
        </div>
        <span>ДНІПРО</span>
        <p>місто контрастів</p>
    </div>
    <div class="content">
        <div class="image-block">
            <img src="../../../assets/images/dnipro/square.jpg" alt="">
            <img src="../../../assets/images/dnipro/square2.jpg" alt="">
        </div>
        <div class="text-block">
            <h2>Успенська площа</h2>
            <p>
                В усі часи Успенська площа була важливим елементом пішохідно-середовищного каркасу міста і серцем
                громадських взаємодій. І зараз вона є не окремим локальним об’єктом, а частиною більш глобальної системи
                планувальних елементів в історичному центрі міста «Успенська площа — вул. Ливарна — набережна — парк ім.
                Шевченка».
            </p>
            <span>Безліч містян, що проводять тут час, засвідчують: життя триває!</span>
            <a href="https://maps.app.goo.gl/pJdeKiki3is52diK6" target="_blank">на мапі</a>

        </div>

        <h2 class="place-number">01</h2>
    </div>
    <div class="content">
        <h2 class="place-number relative">02</h2>

        <div class="image-block ">
            <img src="../../../assets/images/dnipro/menora.jpg" alt="">
            <img src="../../../assets/images/dnipro/menora2.jfif" alt="">
        </div>
        <div class="info-gallery margin-right">
            <h2>Культурно-діловий центр "Менора"</h2>
            <p>
                Культурно-діловий центр «Менора» зовні являє собою сім будівель-веж різної висоти, об'єднаних між собою.
                Найнижчі споруди семиповерхові, дві наступні мають дванадцять та сімнадцять поверхів. Єднає дві лінії
                веж найвища – двадцятиповерхова – башта, заввишки 77 метрів. Кожна вежа – квадрат зі стороною у 20
                метрів.</p>
            <span>В певні дні відвідувачі центру можуть піднятися на оглядовий майданчик, звідки відкривається
                панорамний вид Дніпра.</span>
            <a href="https://maps.app.goo.gl/WFvc17mZaKCLwjce8" target="_blank">на мапі</a>
        </div>
    </div>
    <div class="content">
        <div class="gallery-block margin-left ">
            <img src="../../../assets/images/dnipro/waterfront.jpg" alt="">
            <img src="../../../assets/images/dnipro/waterfront2.jpg" alt="">
        </div>
        <div class="text-block ">
            <h2>Набережна</h2>
            <p>
                В теплий сезон тут збирається безліч туристів та місцевих, адже саме тоді «кипить життя»: працюють всі
                центри відпочинку та літні майданчики. Також набережна є чудовим місцем для звичайної прогулянки,
                оскільки з неї відкривається неймовірний краєвид на човни та кораблі, що курсують по воді.
            </p>
            <span> 
                Набережна в Дніпрі - набережна вздовж р. Дніпро, довжиною 23 кілометра, визнана найдовшою в Европі.
            </span>
            <a href="https://maps.app.goo.gl/ZbQvNx9nj26S5YeC9" target="_blank">на мапі</a>
        </div>
        <h2 class="place-number">03</h2>
    </div>
</div>