<div class="full-content">
    <div class="main">
        <div class="map-link">
            <a  [routerLink]="[ '' ]" >карта</a>
        </div>
        <span>КРИМ</span>
        <p>сіфршогршіврг фсіоираш крим</p>
    </div>
    <div class="content">
        <div class="image-block">
            <section class="container">
                <div class="slider-wrapper">
                    <div class="slider">
                        <img id="slide-1" src="../../../assets/images/crimea/botanical_garden.jpg" alt="">
                        <img id="slide-2" src="../../../assets/images/crimea/bay_Balaklava.jpg" alt="">
                        <img id="slide-3" src="../../../assets/images/crimea/masandra_palace.jpg" alt="">
                        <img id="slide-4" src="../../../assets/images/crimea/palace.jpg" alt="">
                        <img id="slide-5" src="../../../assets/images/crimea/Swallows.jpg" alt="">
                    </div>
                    <div class="slider-nav">
                        <a href="/crimea/#slide-1"></a>
                        <a href="/crimea/#slide-2"></a>
                        <a href="/crimea/#slide-3"></a>
                        <a href="/crimea/#slide-4"></a>
                        <a href="/crimea/#slide-5"></a>
                    </div>
                </div>
            </section>

        </div>
        <div class="text-block">
            <h2>Бухта в Балаклаві</h2>
            <p>Кримське містечко Балаклава прикрашає стародавня бухта, здавна радує око подорожуючих, а також захищає
                від набігів ворогів. Балаклавська бухта — одна з бухт, розташованих в межах «Великого Севастополя».
                Неподалік від бухти розташована старовинна фортеця Чембало. Бухта, оточена горами, які закривають
                містечко від вітру і шторму.</p>
        </div>
    </div>
    <div class="content">

        <img id="slide-1" src="../../../assets/images/crimea/botanical_garden.jpg" alt="">

        <div class="text-block"></div>
    </div>
</div>