<div class="full-content relative">
    <img class="absolute sacura-bg" src="../../../assets/images/uzhorod/sacura.png" alt="">
    <div class="main">
        <div class="map-link">
            <a [routerLink]="[ '' ]">карта</a>
        </div>
        <span>УЖГОРОД</span>
        <p>місто сакур</p>
    </div>
    <div class="content">
        <div class="image-block ">
            <img src="../../../assets/images/uzhorod/sakur.jpg" alt="">
            <img src="../../../assets/images/uzhorod/sakur2.jpg" alt="">
        </div>
        <div class="text-block ">
            <h2>Алеї сакур</h2>
            <p>Японська декоративна вишня — сакура — з'явилася в Ужгороді ще в 1923 році, її привезли з Відня. На
                сьогоднішній день це дерево можна зустріти в багатьох куточках міста, на вулицях Ракоці і Довженка.
            </p>
            <span>Традиційно цвітіння японської вишні збігається з культурною подією — фестивалем «Сакура Фест», який
                щороку припадає на кінець квітня-початок травня.</span>
            <a href="https://maps.app.goo.gl/2wuCc2XhC6KdmUUL8" target="_blank">на мапі</a>
            <p>// вздовж вулиці Бращайків від площі Пушкіна на набережній Незалежності до перехрестя з вулицею
                Ференца Ракоці</p>
        </div>

        <h2 class="place-number ">01</h2>
    </div>
    <div class="content">
        <h2 class="place-number relative">02</h2>

        <div class="image-block ">
            <img src="../../../assets/images/uzhorod/Ужгородський-замок.jpg" alt="">
            <img src="../../../assets/images/uzhorod/Скансен.jpg" alt="">
        </div>
        <div class="info-gallery margin-right">
            <h2>Ужгородський замок</h2>
            <p>
                На території Ужгородського замку знаходиться внутрішнє подвір’я. Там можна побачити прекрасний сад,
                міфічні статуї, а також фундамент церкви Св. Юрія, яка датується 14 століттям. У самому ж палаці
                розмістився етнографічний музей із дуже
                цікавими експозиціями. Уваги заслуговує і внутрішня каплиця. </p>
            <span>Із внутрішнього подвір’я також відкривається чудова панорама на місто. </span>
            <a href="https://maps.app.goo.gl/dKBT8e3ow5UaPr1Y8" target="_blank">на мапі</a>
        </div>
    </div>
    <div class="content">
        <div class="gallery-block margin-left">
            <img src="../../../assets/images/uzhorod/1447591_800x600_78368236_1_fit_content_width.jpg" alt="">
            <img src="../../../assets/images/uzhorod/korzo.png" alt="">
        </div>
        <div class="text-block">
            <h2>Корзо</h2>
            <p>У перекладі з італійської «Корзо» означає місце для прогулянок. Цю назву вулиці пов’язують з італійськими
                графами Другетами, які володіли містом майже чотири століття. Архітектура вулиці сформувалася наприкінці
                19 – на початку 20 століть. Часто тут можна зустріти вуличних музикантів. </p>
            <span> Корзо – центральна вулиця міста, яка буквально всіяна внутрішніми двориками,
                милими кав’ярнями, цікавими магазинами. </span>
            <a href="https://maps.app.goo.gl/WSes67fg4kmvjRth8" target="_blank">на мапі</a>
        </div>
        <h2 class="place-number">03</h2>
    </div>
</div>