<div class="full-content relative">
    <!-- <img class="absolute sacura-bg" src="../../../assets/images/uzhorod/sacura.png" alt=""> -->
    <div class="main">
        <div class="map-link">
            <a [routerLink]="[ '' ]">карта</a>
        </div>
        <span>ХАРКІВ</span>
        <p>чисте місто</p>
    </div>
    <div class="content">
        <div class="image-block">
            <img src="../../../assets/images/kharkiv/Sarzhin Yar3.jpg" alt="">
            <img src="../../../assets/images/kharkiv/Sarzhin Yar.jpg" alt="">
        </div>
        <div class="text-block">
            <h2>САРЖИН ЯР</h2>
            <p>
                У самому серці Харкова є місцевість “Саржин Яр”. Вона представляє собою природну балку (яр) довжиною 12
                кілометрів, з пологими схилами, які поросли деревами. Це справжній зелений оазис у 45 га серед міських
                висоток, який може бути прикладом інтеграції природи в міське середовище для будь-якого міста.
            </p>
            <span>Здавалось б просто парк, але дуже круто оформлений простір</span>
            <a href="https://maps.app.goo.gl/pycvSP7sLtRpfT7k9" target="_blank">на мапі</a>

        </div>

        <h2 class="place-number">01</h2>
    </div>
    <div class="content">
        <h2 class="place-number relative">02</h2>

        <div class="image-block ">
            <img src="../../../assets/images/kharkiv/garden2.jpg" alt="">
            <img src="../../../assets/images/kharkiv/garden.png" alt="">
        </div>
        <div class="info-gallery margin-right">
            <h2>Сад імені Тараса Шевченка</h2>
            <p>
                Міський сад імені Тараса Шевченка - найстаріший зелений масив у центрі Харкова. Це символ міста й
                водночас його гордість. Сад заснував у 1804 р. Василь Назарович Каразін. Верхня частина території була
                відведена під ландшафтний парк, а нижня – ботанічний сад. </p>
            <span> Міський сад ім. Т. Шевченка — улюблене місце прогулянок харків’ян.</span>
            <a href="https://maps.app.goo.gl/jfnava5Wavg4sbrGA" target="_blank">на мапі</a>
        </div>
    </div>
    <div class="content">
        <div class="gallery-block margin-left ">
            <img src="../../../assets/images/kharkiv/7.png" alt="">
            <img src="../../../assets/images/kharkiv/7.1.png" alt="">
        </div>
        <div class="text-block ">
            <h2>7йсклад</h2>
            <p>
                Майже закритий тихий простір, де можна поїсти, посидіти і пограти в настільний теніс, створений посеред гучного центру 
            </p>
            <span>
                Виняткова атмосфера, як наслідок єдності різноманіття.
            </span>
            <img src="../../../assets/images/kharkiv/7.2.png" alt="" >

            <a href="https://maps.app.goo.gl/mAyGAKj3gWSPXzeTA" target="_blank">на мапі</a>
        </div>
        <h2 class="place-number">03</h2>
    </div>
</div>