<div class="full-content relative">
    <!-- <img class="absolute sacura-bg" src="../../../assets/images/uzhorod/sacura.png" alt=""> -->
    <div class="main">
        <div class="map-link">
            <a [routerLink]="[ '' ]">карта</a>
        </div>
        <span>ОДЕСА</span>
        <p> українська перлина</p>
    </div>
    <div class="content">
        <div class="image-block ">
            <img src="../../../assets/images/odesa/beach.jpg" alt="">
            <img src="../../../assets/images/odesa/beach2.jpg" alt="">
        </div>
        <div class="text-block ">
            <h2>Інклюзивний пляж</h2>
            <p>В Одесі офіційно відкрився пляжний сезон (20/06/24), скрізь біля моря багато людей. Проте єдиний пляж,
                який наразі
                офіційно доступний для відвідувачів, — це інклюзивний пляж на території пляжу «Дельфін». Тут створено
                всі умови для безпеки та комфорту відвідувачів, зокрема, для людей з інвалідністю. На пляжі
                встановлено укриття, працюють рятувальники та лікарі, а також є ліфт для осіб з інвалідністю.
            </p>

            <a href="https://maps.app.goo.gl/rFQbYxbM5uTAZoFcA" target="_blank">на мапі</a>

        </div>

        <h2 class="place-number ">01</h2>
    </div>
    <div class="content">
        <h2 class="place-number relative">02</h2>

        <div class="image-block ">

            <img src="../../../assets/images/odesa/teatr.jpg" alt="">
            <img src="../../../assets/images/odesa/teatr2.jpg" alt="">
        </div>
        <div class="info-gallery margin-right">
            <h3>Одеський національний академічний театр опери та балету</h3>
            <p>
                Будівля театру була першою серед оперних театрів України. 10 лютого 1810 року відбулося урочисте
                відкриття.
                Через осідання ґрунту будівлю неодноразово реставрували. Востаннє це було у 2007 році. Цього ж року
                указом президента театру був наданий статус "національний". Одеську оперу вважають однією з
                найкрасивіших у світі. У 2008 році журнал Forbes включив її до топ-17 найцікавіших пам'яток Східної
                Європи.
            </p>
            <span>Найстаріший оперний театр України</span>
            <a href="https://maps.app.goo.gl/c5YfR8os8bJNrT8GA" target="_blank">на мапі</a>
        </div>
    </div>
    <div class="content">
        <div class="gallery-block margin-left">
            <img src="../../../assets/images/odesa/parkOdesa.png" alt="">
            <img src="../../../assets/images/odesa/parkOdessa2.jpg" alt="">
        </div>
        <div class="text-block">
            <h2>Парк Тараса Шевченка</h2>
            <p>
                Парк Тараса Шевченка в Одесі багатий різними пам'ятками. В центрі розташований стадіон «Чорноморець» і
                Музей футболу. На початку Головної алеї, з боку вулиці Маразліївської, стоїть пам'ятник Шевченку, далі
                можна побачити «Алею слави», пам'ятники Невідомому солдату та Невідомому матросу. Неподалік підноситься
                у небо Олександрівська колона. З парку багато доріжок ведуть до пляжу «Ланжерон». Поряд простягається
                «Траса Здоров'я».
            </p>
            <a href="https://maps.app.goo.gl/pvEgE4f2BTE2uzMi6" target="_blank">на мапі</a>
        </div>
        <h2 class="place-number">03</h2>
    </div>
</div>