<div class="full-content relative">
    <!-- <img class="absolute sacura-bg" src="../../../assets/images/uzhorod/sacura.png" alt=""> -->
    <div class="main">
        <div class="map-link">
            <a [routerLink]="[ '' ]">карта</a>
        </div>
        <span>ЧЕРНІВЦІ</span>
        <p>місто людей та книжок</p>
    </div>
    <div class="content">
        <div class="image-block">
            <img src="../../../assets/images/chernivtsi/park.jpg" alt="">
            <img src="../../../assets/images/chernivtsi/park2.png" alt="">
        </div>
        <div class="text-block">
            <h2>Парк імені Юрія Федьковича</h2>
            <p>
                Поблизу головного корпусу Чернівецького національного університету розташований парк імені Юрія
                Федьковича. Він є чудовим зразком садово-паркового мистецтва. Парк був засаджений ще за правління
                імператора Франца Йосифа.
            </p>
            <span>На сьогодні він займає чималу територію й служить чудовим місцем для відпочинку.
            </span>
            <a href="https://maps.app.goo.gl/wWVxF3pSTqdeNpcK8" target="_blank">на мапі</a>

        </div>

        <h2 class="place-number">01</h2>
    </div>
    <div class="content">
        <h2 class="place-number relative">02</h2>

        <div class="image-block ">
            <img src="../../../assets/images/chernivtsi/center.jpg" alt="">
            <img src="../../../assets/images/chernivtsi/center2.png" alt="">
        </div>
        <div class="info-gallery margin-right">
            <h2>Театральна площа</h2>
            <p>
                Головною родзинкою площі є Чернівецький театр імені Ольги Кобилянської. Німецький письменник Георг
                Гайнцен відзначав: «Чернівецький театр – то пам'ятник обізнаним з культурою чернівчанам, які понад усе
                боялись набути репутації провінції і палко прагнули ні в чому не поступатися шановному метрополю Відню».
            </p>
            <span> Зелень навкруги так і буяє.</span>
            <a href="https://maps.app.goo.gl/9fznQScQfurdR5wi8" target="_blank">на мапі</a>
        </div>
    </div>
    <div class="content">
        <div class="gallery-block margin-left ">
            <img src="../../../assets/images/chernivtsi/residence.jpg" alt="">
            <img src="../../../assets/images/chernivtsi/residence2.jpg" alt="">
        </div>
        <div class="text-block ">
            <h2> Резиденція</h2>
            <span>митрополитів Буковини та Далмації</span><br>
            <p>
                Архітектурний шедевр – резиденція митрополитів Буковини та Далмації. Над її будівництвом трудилися
                найкращі віденські, чеські, буковинські майстри. Головним архітектором проекту став чех – Йозеф Главка.
                На сьогодні колишня резиденція використовується як головний корпус Чернівецького національного
                університету.
            </p>
            <span>
                Будівля стала впізнавана, часто з'являється у кінострічках. Кожен, хто побуває у місті,
                повинен її відвідати.
            </span>
            <a href="https://maps.app.goo.gl/hWfFA5jPoGdKkZHw6" target="_blank">на мапі</a>
        </div>
        <h2 class="place-number">03</h2>
    </div>
</div>