<div class="full-content relative">
    <!-- <img class="absolute sacura-bg" src="../../../assets/images/uzhorod/sacura.png" alt=""> -->
    <div class="main">
        <div class="map-link">
            <a [routerLink]="[ '' ]">карта</a>
        </div>
        <span>ПОЛТАВА</span>
        <p>це гастрономічний центр</p>
    </div>
    <div class="content">
        <div class="image-block">
            <img src="../../../assets/images/poltava/monument.jpg" alt="">
            <img src="../../../assets/images/poltava/monument2.png" alt="">
        </div>
        <div class="text-block">
            <h2>Пам’ятник Полтавській галушці</h2>
            <p>
                Пам’ятник Полтавській галушці – чи не єдина в Україні увіковічена в камені національна страва, оспівана
                Миколою Гоголем та Іваном Котляревським. Монумент символізує достаток і добробут української сім'ї та
                водночас є незаперечним символом міста.
            </p>
            <span>Саме тут проходить традиційне свято галушки</span>
            <a href="https://maps.app.goo.gl/pU5w2VbvMUrq6FXYA" target="_blank">на мапі</a>

        </div>

        <h2 class="place-number">01</h2>
    </div>
    <div class="content">
        <h2 class="place-number relative">02</h2>

        <div class="image-block ">
            <img src="../../../assets/images/poltava/dendropark.jpeg" alt="">
            <img src="../../../assets/images/poltava/dendropark2.jpeg" alt="">
        </div>
        <div class="info-gallery margin-right">
            <h2>Полтавський міський парк. Дендропарк</h2>
            <p>
                Сучасна колекція дендрофлори Полтавського міського парку була сформована протягом 60-х - поч. 70-х років
                ХХ століття і нині нараховує близько 230 видів дерев та кущів. У різних куточках дендропарку створені
                ландшафтні композиції різноманітних географічних зон, які отримали назви: "Українська діброва",
                "Шведський ліс", "Кавказ", "Галявина цвітіння". </p>
            <span> Полтавський міський парк — дендропарк, парк-пам'ятка садово-паркового мистецтва загальнодержавного
                значення в Україні</span>
            <a href="https://maps.app.goo.gl/vUU8uzn2jfbWGudWA" target="_blank">на мапі</a>
        </div>
    </div>
    <div class="content">
        <div class="gallery-block margin-left ">
            <img src="../../../assets/images/poltava/gora-pyvyha-new.jpg" alt="">
            <img src="../../../assets/images/poltava/PIVIKHA MOUNTAIN.jpeg" alt="">
        </div>
        <div class="text-block ">
            <h2>ГОРА ПИВИХА</h2>
            <p>
                Гора Пивиха — пагорб, ізольоване підвищення в межах Глобинського і (частково) Кременчуцького районів Полтавської області, ландшафтний заказник місцевого значення. Розташована на лівому березі Дніпра, неподалік від південної околиці смт Градизьк.
            </p>
      

            <a href="https://maps.app.goo.gl/FREavG9qi8ynL7HM6" target="_blank">на мапі</a>
        </div>
        <h2 class="place-number">03</h2>
    </div>
</div>