<div class="full-content ">
    <!-- <img class="absolute water-tower" -->
    <!-- src="../../../assets/images/vinnytsia/Вінниця_Водонапірна_вежа_4-ai-brush-removebg-q97xljob.png" alt=""> -->
    <div class="main">
        <div class="map-link">
            <a [routerLink]="[ '' ]">карта</a>
        </div>
        <span>ЧЕРКАСИ</span>
        <p>це місто на Дніпрі</p>
    </div>
    <div class="content">
        <div class="gallery-block margin-left">
            <img src="../../../assets/images/сherkasy/fontan.jpg" alt="">
            <img src="../../../assets/images/сherkasy/fontan2.jpg" alt="">
        </div>
        <div class="text-block">
            <h2>Фонтани</h2>
            <p>
                Соборна площа в Черкасах є прикладом сучасної реконструкції, яка трансформує місто. Тут розташовані
                чудові клумби і два оригінальних фонтани.
            </p>

            <a href="https://g.co/kgs/SBNPY3A" target="_blank">на мапі</a>
        </div>
        <h2 class="place-number">01</h2>
    </div>
    <div class="content">
        <h2 class="place-number">02</h2>

        <div class="gallery-block column">
            <img src="../../../assets/images/сherkasy/valley of roses.jpg" alt="">
            <img src="../../../assets/images/сherkasy/valley of roses2.JPG" alt="">
        </div>
        <div class="info-block">
            <h2>Парк «ДОЛИНА ТРОЯНД»</h2>
            <p>Парк розміщується на березі Кременчуцького водосховища, та неподалік від центральної частини міста. На
                території парку знаходяться маленькі озера з фонтанами всередині.
            </p>

            <a href="https://g.co/kgs/kP2MPWk" target="_blank">на мапі</a>
        </div>
    </div>
    <div class="content">
        <div class="gallery-block margin-left">
            <img src="../../../assets/images/сherkasy/hotel.webp" alt="">
        </div>
        <div class="text-block">
            <h2>Блакитний палац
            </h2>
            <p>Блакитний палац – одна з визначних пам'яток Черкас, він внесений до всіх путівників міста. Автором
                будівлі є відомий архітектор Владислав Городецький, за проектом якого створено легендарний Будинок із
                химерами в Києві. </p>

            <a href="https://maps.app.goo.gl/439Qawm7Boh46SKRA" target="_blank">на мапі</a>
        </div>
        <h2 class="place-number">03</h2>
    </div>
</div>