<div class="full-content relative">
    <img class="absolute water-tower"
        src="../../../assets/images/vinnytsia/Вінниця_Водонапірна_вежа_4-ai-brush-removebg-q97xljob.png" alt="">
    <div class="main">
        <div class="map-link">
            <a [routerLink]="[ '' ]">карта</a>
        </div>
        <span>ЧЕРКАСИ</span>
        <p>місто комфорту</p>
    </div>
    <div class="content">
        <div class="image-block margin-left">
            <img src="../../../assets/images/vinnytsia/arka.jfif" alt="">
            <img src="../../../assets/images/vinnytsia/the city center.jpg" alt="">
        </div>
        <div class="info-gallery">
            <h2>Вінницька центральна арка</h2>
            <p>
                Арка Центрального парку ім. Леонтовича — це архітектурна споруда, розташована в Центральному парку
                культури і відпочинку ім. Леонтовича в місті Вінниця, Україна. Вона є одним із символів міста і має
                історичне та культурне значення.
            </p>
            <span>Весною квітуть пишні сорти японських вишень при вході у Центральний парк імені Миколи
                Леонтовича</span>
            <a href="https://maps.app.goo.gl/pLP4Lf8CiUsCTGHb7" target="_blank">на мапі</a>
        </div>
        <h2 class="place-number ">01</h2>
    </div>
    <div class="content">
        <div class="text-block margin-left">
            <h2>Світломузичний фонтан</h2>
            <p>Фонтан на бульварі Шевченка, який розташований біля будівлі облдержадміністрації. У вечірні години він радує око, можна влаштуватися на лавочці і споглядати метаморфози світла в танцюючих струменях.
            </p>
            <span>Вежа має статус пам'ятки місцевого значення і
                охороняється законом.</span>
            <a href="https://maps.app.goo.gl/A3kLxyCFarJp5bVo9" target="_blank">на мапі</a>
        </div>
        <div class="gallery-block margin-left">
            <img src="../../../assets/images/сherkasy/fontan.jpg" alt="">
        </div>
        <h2 class="place-number relative">02</h2>
    </div>
    <div class="content">
        <div class="gallery-block margin-left">
            <img src="../../../assets/images/vinnytsia/center3.jfif" alt="">
            <img src="../../../assets/images/vinnytsia/center4.jfif" alt="">
        </div>
        <div class="text-block">
            <h2>Історичнй центр</h2>
            <p>Вінниця — найбільше місто Поділля, розміщене на перехресті головних шляхів з Києва, Львова, Одеси, що
                розвинулось на берегах річки Південний Буг. Центр Вінниці є серцем міста, де зосереджені основні культурні, історичні та комерційні об'єкти: Майдан Незалежності, Вінницька міська рада, Площа Європейська, Вулиця Соборна, Театральна площа, Вінницький обласний краєзнавчий музей.  
            </p>

            <a href="https://search.app.goo.gl/VWBASyj" target="_blank">на мапі</a>
        </div>
        <h2 class="place-number">03</h2>
    </div>
</div>